<html>
    <head>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div>
            <form action="/update-contact/?id=<%= id%>" method="POST">
                <fieldset>
                    <legend>Update contact</legend>
                    <label for="name">
                        <input type="text" id="name" name="name" placeholder="Enter name" required>
                    </label>
                    <br>
                    <label for="phone">
                        <input type="text" id="phone" name="phone" placeholder="Enter Phone" required>
                    </label><br>
                    <label for="button">
                        <button type="submit">Update contact</button>
                    </label>
                </fieldset>
            </form>
        </div>

        
    </body>
</html>